/* Google Font Import Link */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}
nav{

  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: all 0.4s ease;
  box-shadow: 0px 1px 3px  rgb(185, 183, 183);
}
nav.sticky{
  padding: 15px 20px;
  background: #4070f4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
nav .nav-content{
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo img{
  width: 220px;
  height: 40px;
}
.nav-content .nav-links{
  display: flex;
}
.nav-content .nav-links li{
  list-style: none;
  margin: 0 8px;
}
 .nav-links li a{
  text-decoration: none;
  color: #0E2431;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 4px;
  transition: all 0.3s ease;
}
 .nav-links li a:hover{
   color: #4070f4;
 }

/* home page cover photo */

.cover-photo{
    height: 665px;
    display: flex;
    /* position: relative; */
}
.main-photo{
    height: 665px;
    width: 48%;
    text-align: center;
    padding: 150px;
}
.home-title{
    height: 665px;
    width: 52%;
}
.t1{
    font-size: 70px;
    font-family: cursive;
}
.t2{
    font-size: 100px;
    font-family: cursive;
}
.t3{
    font-size: 70px;
    font-family: cursive;
}

/* cover photo end */

/* how to work section */

.how-work{
    text-align: center;
}

.how-it-work-card{
    height: 85%;
    width: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .2s;

}


.work{
    height: 460px;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    

}

.how-it-work-card:hover{
  transform: scale(0.9);
}

.img-txt-size{
    height: 50%;
    height: 50%;
    text-align: center;
    padding-top: 30px;
}

.img-size{
    width: 100%;
    height: 100%;

}
.how-work-txt{
    font-size: 16px;
    font-weight: bold;

}

/* data section */

.stack-data{
    height: 90px;
    width: 100%;
    background-color: rgb(255, 217, 0);
}
.stack-data-name{
    height: 50%;
    display: flex;
    justify-content: space-around;
    padding-top: 14px;
}
.stack-data-num{
    height: 50%;
    display: flex;
    justify-content: space-around;
}

/* feature car section */

.feature-car-div{
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.feature-car-container{
    height: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
}

.feature-car-card{
    height: 95%;
    width: 25%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.feature-car-wrapper{
    display: grid;
    grid-template-columns: 200px 200px;
    margin: 12px;
  }

  .feature-car-img{
    width: 94%;
    height: 50%;
    margin-left: 12px;
    margin-top: 12px;
    border-radius: 20px;
    
}
.car-i{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.car-name{
    margin: 12px;
}


.rate{
    display: flex;
    margin-top: 20px;
    margin-left: 12px;
}
.price{
    margin-top: 15px;
    margin-left: 5px;
}

.book-btn{
    margin-top: 12px;
    margin-left: 138px;
    border-radius: 12px;
    height: 35px;
    width: 120px;
    border: 0px;
    background-color: rgb(255, 200, 40);
}

/* vehicle grid view section */

.main-div{
 display: grid;
 grid-template-columns: repeat(4,1fr);
 gap: 20px;
 width: 100%;
 height: 100%;

}
.vehicle-card{
 height: 400px;
 width: 300px;
 background-color: white;
 border-radius: 12px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 padding: 10px;
}
.vehicle-img-div{
  height: 200px;
  width: 100%;
 
  display: flex;
  justify-content: center;
  
  
}
.vehicle-img-div img{
  height: 100%;
}
.car-detail-div{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5px;
  margin: 10px;
}
.rate-div{
  display: flex;
  align-items: center;
  margin: 10px;
}

.price-h6-tag{
  margin-left: 5px;
}

.vehicle-book-btn{
  margin-top: 12px;
  margin-left: 138px;
  border-radius: 12px;
  height: 35px;
  width: 120px;
  border: 0px;
  background-color: rgb(255, 200, 40);
}

/* Book car section */

.search-card{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.inside-box{
    height: 300px;
    width: 92%;
    margin-top: 50px;
    padding-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}
.upper-box1{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.box-data{
    width: 250px;
    height: 70px;
}

.lower-box{
    width: 100%;
    height: 50%;
    justify-content: center;
    display: flex;
}

.find-car-btn{
    width: 95%;
    height: 50px;
    border-radius: 10px;
    border-color: white;
    background-color: rgb(255, 200, 40);
}
.find-car-btn:hover{
    background-color: aliceblue;
}
.search-label{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 200, 40);
}
.search-text{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border-color: rgb(217, 201, 179);
    padding-left: 10px;
    margin-top: 10px;
}


/* Login page code */

.login-page{
    height: 630px;
    display: flex;
    justify-content: center;
}
.login-page-card{
    height: 70%;
    width: 70%;
    margin: 100px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-form{
    width: 50%;
    height: 100%;
    margin-top: 70px;
    
}
.login-text{
    text-align: center;
    margin-bottom: 25px;
}
.login-email-text{
    width: 100%;
    border-radius: 12px;
    height: 50px;
    margin-bottom: 5px;
    padding-left: 15px;
    border-color: orange;
}

.login-pass-text{
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 12px;
    padding-left: 15px;
    border-color: orange;
    
}
.login-btn-text{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    background-color: orange;
    font-size: large;
}
.register-txt{
   align-items: center;
   margin-left: 25%;
   font-size: 20px;
   font-family: sans-serif;
}
.register-txt{
    text-align: center;
    color:orangered;
    font-size: 20px;
   font-family: sans-serif;
   font-weight: bold;
    
}
.register-txt a{
    text-decoration: none;
}
.register-txt a:hover{
    text-decoration: underline;
}
.card{
    
    border:none;
}

.user-content p{
    margin-top:5px;
    font-size:12px;
}


.ratings i{
    color:blue;
}
/* Login page end */

/* signup page */

.signup-body{
    display: flex;
    justify-content: center;
}

.signup-wrapper{
    margin-top: 70px;
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  .signup-wrapper h2{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;
  }
  .signup-wrapper h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
  }
  .signup-wrapper form{
    margin-top: 30px;
  }
  .signup-wrapper form .input-box{
    height: 52px;
    margin: 18px 0;
  }
  form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }



.input-box input:focus,
.input-box input:valid{
  border-color: rgb(255, 200, 40);
}
form .policy{
  display: flex;
  align-items: center;
}

form h3{
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
  }
  .input-box.button input{
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: rgb(255, 200, 40);
    cursor: pointer;
  }
  .input-box.button input:hover{
    background: #0e4bf1;
  }
  form .text h3{
   color: #000000;
   width: 100%;
   text-align: center;
  }
  form .text h3 a{
    color: #4070f4;
    text-decoration: none;
  }
  form .text h3 a:hover{
    text-decoration: underline;
  }

  /* signup page end */

  /* contactus page */

  form .input-box1 input{
    height: 120px;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
   
  }

/* aboutus page section */

.about-us-div1{
  height: 630px;
  width: 100%;
  justify-content: center;
}
.about-div2{
  height: 540px;
  width: 94%;
  padding: 30px;
  margin-left: 50px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}  

 /* footer section */

/* .footer-basic {
  padding:40px 0;
  background-color:white;
  color:#4b4c4d;
}
  
.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}
  
.footer-basic li {
  padding:0 10px;
}
  
.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}
  
.footer-basic ul a:hover {
  opacity:1;
}
  
.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}
  
.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}
  
.footer-basic .social > a:hover {
  opacity:0.9;
}
  
.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
} */


/* Successful page section */

.Success-div{
  text-align: center;
  padding: 40px 0;
  background:white;
}
 .success-txt{
    color:rgb(244, 185, 8);
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
  }
 .success-full-txt{
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:20px;
    margin: 0;
  }
.checkmark{
  color: #9ABC66;
  font-size: 100px;
  line-height: 200px;
  margin-left:-15px;
}
.Success-card{
  background: white;
  padding: 60px;
  border-radius: 4px;
  /* box-shadow: 0 2px 3px #C8D0D8; */
  display: inline-block;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* privacy-policy page */
  
.policy{
  height: 100%;
  width: 100%;
  padding: 30px;
}
  